<div id="sidebar">
    <div class="inner">
      <h2>Make a Website!</h2>
      <p>I don't care how, just do it!</p>
    </div>
    <hr>
    <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/join.html">Join!!</a></li>
        <li><a href="/index.html">Members</a></li>
        <li><a href="/resources.html">Resources</a></li>
        <li><a href="/rules.html">Rules</a></li>
        <li><a href="/widgets.html">Widgets</a></li>
    </ul>
    <hr>
    <div class="inner" style="line-height: 1.5rem;">
      <small>Link back here! Hotlinking's OK!</small><br>
      <a href="/secret"><img src="/images/ww/btn.png" width="88" height="31"></a>
      <textarea><a target="_blank" href="https://webmasterwebring.netlify.app"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/btn.png" width="88" height="31"></a></textarea>
    </div>
    <hr>
    <div style="text-align:center"><iframe width="180" height="180" style="border:none" src="https://evehibi.nekoweb.org/ringlink/" name="ringlink"></iframe></div>
</div> 