@charset "UTF-8";
@import url(https://fonts.bunny.net/css?family=acme:400);
:root {
  --bg:#89bbe3;
  --altbg:#ffffff;
  --main:#000000;
  --light: #2da5d8;
  --lighter: #fa8c8c;
  --sans:"Acme", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

body:before {
  background-attachment: scroll;
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform: scale(1);
  z-index: -700;
  background-color: #89bbe3;
}

body {
  background-color: #89bbe3;
  font-family: "Acme", sans-serif;
  color: #000000;
  font-size: 1rem;
  line-height: normal;
  font-weight: 150;
}

body, html {
  scrollbar-width: auto;
  scrollbar-color: #fa8c8c #ffffff;
}

/*here we goooooo*/
#container {
  display: flex;
  max-width: 950px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

header {
  max-width: 914px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 2.3rem;
  font-family: "Acme", sans-serif;
  text-align: center;
}
header a {
  color: #000000;
  text-decoration: none;
}
header a:hover {
  color: #2da5d8;
}

#top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: -5px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: "Acme", sans-serif;
  text-align: center;
}

#bottom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-top: -5px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: "Acme", sans-serif;
  text-align: center;
}

#main {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  margin-left: 10px;
  text-align: start;
}

/*sidebar*/
#sidebar {
  background-color: #ffffff;
  border-radius: 5px;
  width: 12rem;
  font-size: 1rem;
  padding: 1rem;
}

ul {
  list-style-type: "★  ";
}

.inner, .inner h2 {
  text-align: center;
  line-height: 0.75rem;
}

#sidebar h2 {
  margin-top: 15px;
}

/*text*/
h1 {
  font-family: "Acme", sans-serif;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

h2 {
  font-family: "Acme", sans-serif;
  text-align: left;
  margin-top: -5px;
}

b {
  font-weight: 700;
}

a {
  color: #2da5d8;
  text-align: inherit;
  text-decoration: underline;
}

a:hover {
  color: #fa8c8c;
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

/*fun stuff*/
hr {
  background-color: #000000;
  border: none;
  border-radius: 5px;
  height: 2px;
}

hr.half {
  background-color: rgba(0, 0, 0, 0.42);
  border: none;
  border-radius: 5px;
  height: 2px;
}

::-moz-selection {
  background: #2da5d8;
  color: white;
}

::selection {
  background: #2da5d8;
  color: white;
}

#scrollbox {
  width: 100%;
  height: 420px;
  overflow-y: auto;
}

.site {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sitetext {
  display: inline;
  line-height: 0.25rem;
  margin: 10px 10px -10px;
}
.sitetext p {
  line-height: normal;
}

textarea {
  background-color: rgba(46, 123, 255, 0.42);
  color: #000000;
  border: dashed 2px rgba(0, 0, 0, 0.42);
  font-family: "Acme", sans-serif;
  font-size: 0.7rem;
  padding: 2px;
  height: 2.5rem;
  width: 12rem;
}

#preloader {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  background: #89bbe3 url("/images/oval.svg") no-repeat center;
  z-index: 9999;
}

/*buttons*/
.maxbutton {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 70px;
  border: 2px dashed #7c316f;
  border-radius: 5px;
  background-image: url("/images/buttons/links/venus1.jpg");
  box-shadow: 0px 0px 1px 1px #333333;
}

.maxbutton:hover {
  border-color: #0d24bc;
  background-image: url("/images/buttons/links/venus2.jpg");
  box-shadow: 0px 0px 1px 1px #333333;
}

/*media querey*/
@media (max-width: 768px) {
  html {
    font-size: 17px;
  }
  #container {
    display: block;
    margin-left: 1rem;
    margin-right: 2.75rem;
  }
  header {
    margin-left: 1rem;
    margin-right: 0.75rem;
  }
  #sidebar {
    width: 100%;
    font-size: 1.15rem;
    margin-left: auto;
    margin-right: auto;
  }
  #pfp {
    width: 200px;
  }
  #main {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */